body, html{
    background-color: rgb(39, 36, 36);
    color: rgb(129, 126, 126);
}

a{
    text-decoration: none;
    color: rgb(129, 126, 126);

}

.header{
    font-size: xx-large;
    float: right;
    padding: 1%;
   
}


.body{
    top: 35%;
    position: absolute;
    font-size: xx-large;
    padding-left: 1%;
}