body, html{
    background-color: rgb(39, 36, 36);
    color: rgb(129, 126, 126);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(129, 126, 126);

}

.header{
    font-size: xx-large;
    float: right;
    padding: 1%;
    display: flex;

}

.header-mail-icon{
    display: grid;
    text-align: center;
}


.body{
    top: 35%;
    position: absolute;
    font-size: xx-large;
    padding-left: 1%;
}



.footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: rgb(53, 50, 50);

}


@media (max-width: 991px){
    .footer{
        font-size: x-large;
    }

    .body{
        font-size: 50px;
        padding-left: 2%;
    }

    .header{
        font-size: 90px;
        padding: 2%;
        text-align: center;
        float: left;
    }

    .header-mail-icon{
        display: grid;
       
    }
}

